body {
  margin: 0;
   
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
   background-image: url("../public/backg.jpg"); 
   background-size: cover;
   background-repeat: no-repeat; 
   background-position: center;
   background-attachment: scroll;
   min-height: 100vh;
   height: 100%;
}
#top-title{
  display: flex;
  flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  padding: 2em;
}

.searchbar-layout{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.search-text-input{
  width: 100%;
  border: none;
  height: 38px;
  
}

.searchbar-wrapper{
  display: flex;
	flex-direction: column;
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width: 400px) {
    width: 90vw;
  }
}
.inside {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
	flex-direction: column;
  width: 100%; 
  min-height: 40px;
  max-height: 100px;
  
  background-color: rgb(228, 228, 228);
}
.customItem{
  border-radius: 0 !important;
  border-bottom: 1px solid gray !important;
}
 
.weather-card-wrapper{
  margin-top: 5em;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.weather-card-layout{
  min-width: 52vw;
  max-width: 80%;
  min-height: 50vh;
  border-radius: .2rem;
  background-color: rgba(255, 255, 255, 0.7);
  
  @media screen and (min-width: 1600px) {
    min-height: 43vh;
  }
}

$borders:2px dashed gray;

@mixin diver($height, $width) {
  
  height: $height;
  max-width: $width;
  margin-right: auto;
  margin-left: auto;
  border: none;
}
.card-top-bar-layout{
  @include diver( 20%, 90%);
   border-bottom: $borders;
}

.card-body-layout{
  @include diver( 60%, 90%);
  padding: 1em;
 
}
.card-footer-layout{
  @include diver( 20%, 90%);
  padding-top: 10px;
  padding-left: auto;
  padding-right: auto;
  border-top: $borders;
}
.search-icon-btn{
  background-color: white !important;
  border: none !important;
  border-radius: 0 !important;
  img{
    height: 24px;
  }
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
